#This file is used by symfony developer to switch from one PHP version to another.
.php-version
#Avoid phar file to this bundle
/composer.phar

#Do not push to repository these files created by symfony and phpunit during composer install
.env
.env.*
composer.lock
symfony.lock
bin/console
bin/phpunit
/config
/vendor
/Tests/.gitignore

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
